{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner-content %}

<h1>{% trans "Custom Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Using {{provider_name}} account for
  signing up to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
  <form  class="MyCustomSocialSignupForm" id = signup_form action="{% url 'socialaccount_signup' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>
{% endblock %}


