{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">
    <h2>Our Story</h2>
    <p>We believe that supporting a child’s inclination to learn new things aren’t “additional” or extra
        – they are essential to all-round development.</p>
    <p>Nurturing interests outside the world of academia equips children with essential life skills.</p>
    <p>We want the children who sign up for classes to find something that interests them,
        and wish to pursue it whole-heartedly.</p>
</div>

{% endblock %}


